langchain 
langchain-community
langchain-experimental
fastapi
python-dotenv
streamlit 
uvicorn 
pydantic
httpx
requests
langchain-google-community
langchain_tavily
langchain_groq
langchain_openai
# yaml
langgraph
